body{
    background-color: rgb(243, 151, 228);
}
#titulo{
    text-align: center;
    font-size: 30px;
    color: brown;
}
.texto{
    text-align: center;
color: red;
font-size: 20px;
}
