body{
    background-color: rgb(150, 36, 131);
}
#titulo{
    text-align: center;
    font-size: 30px;
    color: brown;
}
.texto{
    text-align: center;
    color: red;
    font-size: 20px;
}
#foto {
    width: 50%;
    margin: 20px;
    padding: 5px;
}
.titulo {
    background-image: linear-gradient(rgb(235, 87, 190), rgb(231, 187, 217) );
    color: crimson;
}